# 2025-09-19

In [23]:
print("안녕 이제 파이썬을 시작하려고 해")

안녕 이제 파이썬을 시작하려고 해

In [24]:
print("Hello")

Hello

In [25]:
print(29)

29

In [26]:
print(True)

True

에러가 존재하는 경우
1. 에러 발생한 line, 작성 코드 출력
2. 에러의 종류: 에러 내용

In [27]:
hello #쿼테이션 둘 중 하나 필요

NameError: name 'hello' is not defined

In [ ]:
print('Hello") #싱글로 시작해서 더블로 마침

SyntaxError: unterminated string literal (detected at line 1) (210020672.py, line 1)

In [ ]:
print('Hello' #코드 마무리 안 됨

SyntaxError: incomplete input (1103635973.py, line 1)

In [ ]:
Print("Hello") #P 대소문자 주의, print name 정리 안 됨

NameError: name 'Print' is not defined

In [ ]:
print(10+10) #숫자형

20

In [ ]:
print('10+10') #문자형, 따라서 계산 없이 그대로 출력

10+10

In [ ]:
type("Hello World")

str

In [ ]:
type("100")

str

In [ ]:
type(100)

int

In [ ]:
type(3.14)

float

In [ ]:
type(True)

bool

### 변수

In [31]:
mynumber = 100

In [32]:
mynumber = 36.5

In [34]:
mynumber

36.5

In [39]:
mynumber = "강아지"

In [40]:
mynumber

'강아지'

In [ ]:
mynumber + 10 #숫자 데이터가 아니기 때문에 타입 에러

TypeError: can only concatenate str (not "int") to str

### 연산자

In [10]:
num1 = 7
num2 = 3

In [44]:
num1 + num2

10

In [45]:
num1 - num2

4

In [50]:
num1 * num2

21

In [11]:
num1 / num2

2.3333333333333335

In [47]:
num1 // num2

2

In [48]:
num1 % num2

1

In [49]:
num1  ** num2

343

In [51]:
"Hello" + "World"

'HelloWorld'

In [5]:
str1 = "Hello"
str2 = "World2"

In [ ]:
str1 + " " + str2 #스페이스는 별도 부여 필요

'Hello World2'

In [55]:
str1 * num1

'HelloHelloHelloHelloHelloHelloHello'

In [ ]:
num1 * str1 #문자열이 숫자열만큼 반복

'HelloHelloHelloHelloHelloHelloHello'

In [ ]:
str1 + num1 #문자열+숫자열 불가능

TypeError: can only concatenate str (not "int") to str

###  비교 연산자

같다 ==

In [58]:
mynumber = 100

In [59]:
5 == 3

False

In [61]:
5 != 3

True

In [62]:
5 > 3

True

In [63]:
5 < 3

False

In [64]:
print (str1+str2)

HelloWorld2

In [6]:
print(str1 + " " + str2) #스페이스 별도 부여 필요, 스페이스도 별도 문자열

Hello World2

In [7]:
print(str1, str2) #콤마: 스페이스 삽입

Hello World2

In [8]:
print(str1, str2, str1, str2)

Hello World2 Hello World2

### 사용자 입력

In [12]:
input()

'안녕하세욥'

In [20]:
name = input()
print("이름은", name, "입니다")

이름은 강아지 입니다

In [23]:
name = input("이름을 입력해 주세요")
print("이름은", name, "입니다")

이름은 고아름 입니다

In [ ]:
num1 = 7
num2 = 3

#미션. 사용자로부터 숫자 입력을 받아서 +, -, *, / 연산 확인

In [31]:
num1 = input("첫 번째 숫자를 입력하세요")
num2 = input("두 번째 숫자를 입력하세요.")

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

73

TypeError: unsupported operand type(s) for -: 'str' and 'str'

-> 단순하게 문자열로 인식했기 때문에 7과 3을 나열함, 출력값: 73 <br>
에러 내용에 str and str, 문자열과 문자열의 조합

### 형변환

In [ ]:
int(), float(), str()

In [41]:
int("7")

7

In [34]:
float("3.14")

3.14

*int = 형식 사용 불가능* <br>
int = 을 작성하고 실행하면 int를 새로 정의함 <br>
따라서 위에 작성한 코드가 망가짐 <br><br>

해결 방법: 종료한 뒤 다시 오픈

In [35]:
num1 = int(input("첫 번째 숫자를 입력하세요"))
num2 = int(input("두 번째 숫자를 입력하세요."))

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

10
4
21
2.3333333333333335

In [ ]:
mynumber
my_number
myNumber
3number, 가number (X)

#변수 이름 생성 가능, 임의 지정보다는 적절히 의미를 알 수 있도록

In [44]:
print((3<5) and (3>0))
print((4<7) or (5>8))
print(not(5<9))

True
True
False

In [61]:
print('"안녕"이라고 말했다.')
print("'바본가?'라고 생각했다.")

#다른 쿼테이션을 사용하는 경우 혼용 가능

"안녕"이라고 말했다.
'바본가?'라고 생각했다.

In [ ]:
print("\"안녕\"이라고 말했다.")

#역슬래쉬 사용하는 경우 같은 쿼테이션 사용 가능

"안녕"이라고 말했다.

In [59]:
sentence= """
안녕
반가워
추워
"""

In [60]:
print(sentence)

안녕
반가워
추워

In [57]:
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.")

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

In [79]:
print("Hello", "Phyton")
print("Hello", end=" ")
print("Hello")
print("Hello", end="")
print("Hello")
print()
print("Hello" * 5)
print()
print("Hello", "Hello", "Hello", "Hello", "Hello", end=",", sep="/")

Hello Phyton
Hello Hello
HelloHello

HelloHelloHelloHelloHello

Hello/Hello/Hello/Hello/Hello,

In [ ]:
print()

#기본적으로 줄바꿈(\n)이 포함되어 있음
#콤마(,)는 스페이스가 포함되어 있음
#, end="" 줄바꿈을 하지 않음

In [ ]:
num1 = int(input("첫 번째 숫자를 입력하세요"))
num2 = int(input("두 번째 숫자를 입력하세요."))

print(num1 + num2) 
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

In [ ]:
#7+3=10 형태 출력 방법: f-string
#f"" 형태, 변수는 {}로 입력. 외의 모든 값은 문자열(str)로 인식

num1 = 7
num2 = 3

print(num1, "+", num2, "=", num1+num2)
print(f"더하기의 결과는: {num1} + {num2} = {num1+num2}")

7 + 3 = 10
더하기의 결과는: 7 + 3 = 10

### bool 자료형

In [130]:
True 참, False 거짓

SyntaxError: invalid syntax (586372605.py, line 1)

In [ ]:
1 == 1

True

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
int(), str(), float(), bool() 

#bool 또한 형변환 함수

In [ ]:
bool(0)

#only 0만 False

False

In [ ]:
bool(1)

True

In [ ]:
bool(100)

True

In [ ]:
bool(-1)

True

In [ ]:
bool('')

#비어있는 문자열 -> False

False

### #오전 마무리 미션

In [ ]:
#p: price, m: menu

p1 = 3000
p2 = 3500
p3 = 2500

m1 = int(input("김밥 주문 갯수 입력"))
m2 = int(input("떡볶이 주문 갯수 입력"))
m3 = int(input("라면 주문 갯수 입력"))


print("김밥 주문 갯수 :", m1)
print("떡볶이 주문 갯수 :", m2)
print("라면 주문 갯수 :", m3)

#print("지불하실 금액은", p1*m1 + p2*m2 + p3*m3, "원 입니다.")
print(f"지불하실 금액은 {p1*m1 + p2*m2 + p3*m3} 원 입니다.")

김밥 주문 갯수 : 2
떡볶이 주문 갯수 : 1
라면 주문 갯수 : 2
지불하실 금액은 14500 원 입니다.

In [ ]:
print("Hello")
print("Hello")
print("Hello")
print("아 졸려")
print("Hello")

### 조건문

In [ ]:
#조건에 따라서 명령어의 실행 여부가 결정
#조건 만족 시 둘 다 출력, 만족하지 못할 경우 하단 명령어만 출력
#들여쓰기 확인 필수

if 조건: 
    실행할 명령
    #True일 경우

elif 조건:
    실행할 명령
    #또 다른 조건

else:
    실행할 명령
    #A or B 경우, 나머지이기 때문에 조건X

조건문 밖의 명령어

In [ ]:
if 조건: 
    실행할 명령

elif 조건:
    수행할 명령2

elif 조건3:
    수행할 명령3

else:
    다른 명령

In [1]:
money = True

if money:
    print("스테이크를 먹는다")
print("조건문 종료")

스테이크를 먹는다
조건문 종료

In [2]:
money = False

if money:
    print("스테이크를 먹는다")
print("조건문 종료")

조건문 종료

In [ ]:
money = True

if money:
    print("스테이크를 먹는다")
    print("커피를 마신다")
    print("택시를 탄다")
print("조건문 종료")

#들여쓰기도 문법 중 하나. 확인 필수!

조건문 종료

In [ ]:
#짝수, 홀수 구분
#num % 2 == 0 -> 짝수, 그렇지 않으면 홀수

num = 2

if num % 2 == 0:
    print("짝수")

else:
    print ("홀수")

짝수

In [ ]:
num = int(input("정수를 입력해 주세요"))

if num % 2 == 0:
    print("짝수")

else:
    print ("홀수")

홀수입니다.

In [14]:
num = 10

if num > 100:
    print("너무 커요")
else:
    print("작아요")

작아요

In [16]:
eng = 80
math = 100

if eng >= 90 and math >= 90:
    print("스티커")
else:
    print("좀 더 노력하세요")

좀 더 노력하세요

In [18]:
eng = 80
math = 100

if eng >= 90:
    if math >= 90:
        print("둘 다 잘 봤어요")
    else:
        print("조금 더 노력하세요")
else:
    print("많이  노력하세요")

많이  노력하세요

In [21]:
num = int(input("정수를 입력해 주세요:"))

if num % 2 == 0:
    print("짝수입니다.")

else:
    print ("홀수입니다.")

홀수입니다.

In [22]:
num = int(input("정수를 입력해 주세요:"))
result = num % 2

if result:
    print("홀수입니다.")
else:
    print("짝수입니다.")

짝수입니다.

In [ ]:
#if만 사용한 경우

num = 89

if num >= 90:
    print("A")
if num >= 80:
    if num < 90:
        print("B")
if num >= 70:
    if num < 80:
        print("C")
if num >= 60:
    if num < 70:
        print("D")
else:
    print("F")

B

In [ ]:
#if와 elif를 사용한 경우

num = 80

if num >= 90:
    print("A")
elif num >= 80:
    print("B")
elif num >= 70:
    print("C")
elif num >= 60:
    print("D")
else:
    print("F")

B

In [44]:
num = int(input("성적을 입력해 주세요:"))


if num >= 90:
    print("A")
if num >= 80:
    if num < 90:
        print("B")
if num >= 70:
    if num < 80:
        print("C")
if num >= 60:
    if num < 70:
        print("D")
else:
    print("F")

F

### 반복문

In [ ]:
#for: 정해진 횟수가 있는 조건
#while: 조건이 맞을 때 반복문을 마치는 형태
#이터러블: 반복 가능한 개체 (cf. 꺼낼 수 있는 공이 n개 있는 바구니)

for 변수 in 이터러블:
    반복할 문장

while 조건:
    반복할 문장

while True:
    무한 루프

In [52]:
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [47]:
for i in range(10):
    print(F"{i}번째 Hello")

0번째 Hello
1번째 Hello
2번째 Hello
3번째 Hello
4번째 Hello
5번째 Hello
6번째 Hello
7번째 Hello
8번째 Hello
9번째 Hello

In [ ]:
for i in range(1, 10):
    print(F"{i}번째 Hello")

for i in range(10):
    print(F"{i+1}번째 Hello")

#range()에 시작과 끝 인자를 넣을 수 있음
#시작은 이상(포함), 종료는 미만(포함X)

In [ ]:
for i in range(1, 10 +1, 2):
    print(F"{i}번째 Hello")

for i in range(10, 0, -2):
    print(F"{i}번째 Hello")

#range (start, end, step)
#step의 +, -로 오름차순, 내림차순 지정 가능

1번째 Hello
3번째 Hello
5번째 Hello
7번째 Hello
9번째 Hello
10번째 Hello
8번째 Hello
6번째 Hello
4번째 Hello
2번째 Hello

In [ ]:
#for 반복문과 range()함수를 사용해서 1부터 10까지의 합을 출력해 주세요.

sum = 0

for i in range(1, 11):
    #바구니에 1, 2, 3 ... 10
    sum = sum + i
print(sum)


#for 반복문과 range()함수를 사용해서 1부터 10까지의 합을 출력해 주세요.

sum = 0

for i in range(1, 11):
    #바구니에 1, 2, 3 ... 10
    sum += i #sum = sum + i와 같은 동작
print(sum)

#for 반복문과 range()함수를 사용해서 1부터 10까지의 곱

#for 반복문과 range()함수를 사용해서 입력받는 숫자에 해당하는 구구단을 출력

55
55

In [ ]:
#print("Hello") 5번만 출력

i = 1

while i <= 5:
    print("Hello")
    i = i + 1

Hello
Hello
Hello
Hello
Hello

In [ ]:
#print("Hello") 5번만 출력
#i가 6이 되면 조건에 부합하지 않아 종료

i = 1

while i <= 5:
    print(f"{i}번째 Hello")
    i = i + 1

1번째 Hello
2번째 Hello
3번째 Hello
4번째 Hello
5번째 Hello

In [ ]:
#while 반복문을 이용해서 1부터 사용자로부터 입력받은 정수값까지의 합

i = 1
num = int(input("정수를 입력해 주세요:"))
sum = 0

while num >= i:
    sum = sum + i
    i = i + 1 ##잊지 않기! 지정 안 하는 경우 에러X 무한루프
print(sum)


#while 반복문을 이용해서 1부터 사용자로부터 입력받은 정수값까지의 곱

#while 반복문을 이용해서 1부터 사용자로부터 입력받은 정수값까지의 구구단

15

### #while을 사용하는 경우

In [ ]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

In [104]:
number = 0 

while number !=4 :
    print(prompt)
    number = int(input("원하는 메뉴의 번호를 입력하세요"))

1. Add
2. Del
3. List
4. Quit

Enter number:

1. Add
2. Del
3. List
4. Quit

Enter number:

### break, continue

In [ ]:
#1부터 10까지 더하되, 합이 20 이상이 되는 때의 정수값을 찾기

sum = 0s

for i in range(1, 10 +1):
    sum = sum + i
    if sum >= 20:
        print(f"정수: {i}, 합계: {sum}")
        break
print(sum)

정수: 6, 합계: 21
21

In [ ]:
number = 0
while True:
    print(prompt)
    number = int(input("원하는 메뉴의 번호를 입력하세요."))
    if number == 4:
        break

#whil True - break 이 없다면 무한 루프

In [138]:
for i in range(10):
    if i % 3 == 0:
        continue
    print(i, end=" ")

1 2 4 5 7 8

In [ ]:
#숫자 맞추기 게임

import random
answer = random.randint(1,100)
print(answer) #확인용

print("1부터 100 사이의 숫자를 맞춰주세요:", answer)

while True:
    num = int(input("1부터 100까지의 숫자를 입력해 주세요."))
    if num > answer:
        print("너무 커요")
    elif num < answer:
        print("너무 작아요")
    else:
        print("정답입니다.")
    break
print ("게임 종료!")

76
1부터 100 사이의 숫자를 맞춰주세요: 76
정답입니다.
게임 종료!

In [ ]:
#20보다 작은 정수 중에서 3의 배수와 5의 배수를 제외하고 출력해 봅시다.
#시행착오

i = 0

while True:
    i += 1 #i = i + 1
    if i % 3 ==0:
        continue
    elif i % 5 == 0:
        continue
    else:
        print(i, end=" ")
        break

In [ ]:
#20보다 작은 정수 중에서 3의 배수와 5의 배수를 제외하고 출력해 봅시다.

i = 0
while True:
    i += 1
    if i >= 20:
        print(f"{i} break")
        break
    if i % 3 == 0 or i % 5 == 0:
        print(f"{i} continue") 
        continue
    print(i)

#확인용 디버깅

1
2
3 continue
4
5 continue
6 continue
7
8
9 continue
10 continue
11
12 continue
13
14
15 continue
16
17
18 continue
19
20 break

In [ ]:
i = 0
while True:
    i += 1
    if i >= 20:
        #print(f"{i} break")
        break
    if i % 3 == 0 or i % 5 == 0:
        #print(f"{i} continue") 
        continue
    print(i, end=" ")

1 2 4 7 8 11 13 14 16 17 19

In [ ]:
#중첩 반복문

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6

In [ ]:
for i in range(1, 10):
    print(f"2 * {i} = {2 * i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [178]:
dan = 17

for i in range(1, 10):
    print(f"{dan} * {i} = {dan * i}")

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153

In [ ]:
#구구단

for dan in range(2, 10):
    print(dan)

for i in range(1, 10):
        print(f"{dan} * {i} = {dan * i}")

In [ ]:
#위 두 코드를 병합

for dan in range(2, 10):
    for i in range(1, 10):
        print(f"{dan} * {i} = {dan * i}")

In [ ]:
for dan in range(2, 10):
    for i in range(1, 10):
        print(f"{dan * i}", end=" ")
    print() #단을 마친 뒤 줄바꿈

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [46]:
# 1. 문자열 반복 사용
# 2. 중첩 반복문 사용

# 크리스마스 트리 만들기 1단계

n = 10
star = "*"

for i in range(1, n+1):
    print(f"{star * i}")

for i in range(1, n+1):
    for i in range(i * 2 - 1):
        print(star, end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********
*
***
*****
*******
*********
***********
*************
***************
*****************
*******************

In [ ]:
# 2단계

n = 10
star = "*"

for i in range(n+1, 0, -1):
    print(f"{star * i}")

***********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
# 3단계

n = 10
s = 10

empty = " "
star = "*"

for i in range(1, n+1):
    for s in range(n-i):
        print(empty, end="")
    for s in range(2 * i - 1): # for 문을 더하면 i
        print(star, end="")
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [41]:
n = 10
for i in range(1, n + 1):
    for j in range(n-i):
        print(' ',end='')
    for j in range(2 * i - 1):
        print('*', end='')
    print()

n = 10
for i in range(1, n + 1):
    spaces = ' '* (n-i)
    stars = '*' *  (2 * i - 1)
    print(spaces + stars)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************