# 2025-09-19

In [23]:
print("안녕 이제 파이썬을 시작하려고 해")

안녕 이제 파이썬을 시작하려고 해

In [24]:
print("Hello")

Hello

In [25]:
print(29)

29

In [26]:
print(True)

True

에러가 존재하는 경우
1. 에러 발생한 line, 작성 코드 출력
2. 에러의 종류: 에러 내용

In [27]:
hello #쿼테이션 둘 중 하나 필요

NameError: name 'hello' is not defined

In [ ]:
print('Hello") #싱글로 시작해서 더블로 마침

SyntaxError: unterminated string literal (detected at line 1) (210020672.py, line 1)

In [ ]:
print('Hello' #코드 마무리 안 됨

SyntaxError: incomplete input (1103635973.py, line 1)

In [ ]:
Print("Hello") #P 대소문자 주의, print name 정리 안 됨

NameError: name 'Print' is not defined

In [ ]:
print(10+10) #숫자형

20

In [ ]:
print('10+10') #문자형, 따라서 계산 없이 그대로 출력

10+10

In [ ]:
type("Hello World")

str

In [ ]:
type("100")

str

In [ ]:
type(100)

int

In [ ]:
type(3.14)

float

In [ ]:
type(True)

bool

## 변수

In [31]:
mynumber = 100

In [32]:
mynumber = 36.5

In [34]:
mynumber

36.5

In [39]:
mynumber = "강아지"

In [40]:
mynumber

'강아지'

In [ ]:
mynumber + 10 #숫자 데이터가 아니기 때문에 타입 에러

TypeError: can only concatenate str (not "int") to str

## 연산자

In [10]:
num1 = 7
num2 = 3

In [44]:
num1 + num2

10

In [45]:
num1 - num2

4

In [50]:
num1 * num2

21

In [11]:
num1 / num2

2.3333333333333335

In [47]:
num1 // num2

2

In [48]:
num1 % num2

1

In [49]:
num1  ** num2

343

In [51]:
"Hello" + "World"

'HelloWorld'

In [5]:
str1 = "Hello"
str2 = "World2"

In [ ]:
str1 + " " + str2 #스페이스는 별도 부여 필요

'Hello World2'

In [55]:
str1 * num1

'HelloHelloHelloHelloHelloHelloHello'

In [ ]:
num1 * str1 #문자열이 숫자열만큼 반복

'HelloHelloHelloHelloHelloHelloHello'

In [ ]:
str1 + num1 #문자열+숫자열 불가능

TypeError: can only concatenate str (not "int") to str

## 비교 연산자

같다 ==

In [58]:
mynumber = 100

In [59]:
5 == 3

False

In [61]:
5 != 3

True

In [62]:
5 > 3

True

In [63]:
5 < 3

False

In [64]:
print (str1+str2)

HelloWorld2

In [6]:
print(str1 + " " + str2) #스페이스 별도 부여 필요, 스페이스도 별도 문자열

Hello World2

In [7]:
print(str1, str2) #콤마: 스페이스 삽입

Hello World2

In [8]:
print(str1, str2, str1, str2)

Hello World2 Hello World2

### 사용자 입력

In [12]:
input()

'안녕하세욥'

In [20]:
name = input()
print("이름은", name, "입니다")

이름은 강아지 입니다

In [23]:
name = input("이름을 입력해 주세요")
print("이름은", name, "입니다")

이름은 고아름 입니다

In [ ]:
num1 = 7
num2 = 3

# 미션. 사용자로부터 숫자 입력을 받아서 +, -, *, / 연산 확인

In [31]:
num1 = input("첫 번째 숫자를 입력하세요")
num2 = input("두 번째 숫자를 입력하세요.")

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

73

TypeError: unsupported operand type(s) for -: 'str' and 'str'

-> 단순하게 문자열로 인식했기 때문에 7과 3을 나열함, 출력값: 73 <br>
에러 내용에 str and str, 문자열과 문자열의 조합

### 형변환

In [ ]:
int(), float(), str()

In [41]:
int("7")

7

In [34]:
float("3.14")

3.14

*int = 형식 사용 불가능* <br>
int = 을 작성하고 실행하면 int를 새로 정의함 <br>
따라서 위에 작성한 코드가 망가짐 <br><br>

해결 방법: 종료한 뒤 다시 오픈

In [35]:
num1 = int(input("첫 번째 숫자를 입력하세요"))
num2 = int(input("두 번째 숫자를 입력하세요."))

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

10
4
21
2.3333333333333335

In [ ]:
mynumber
my_number
myNumber
3number, 가number (X)

#변수 이름 생성 가능, 임의 지정보다는 적절히 의미를 알 수 있도록

In [44]:
print((3<5) and (3>0))
print((4<7) or (5>8))
print(not(5<9))

True
True
False

In [61]:
print('"안녕"이라고 말했다.')
print("'바본가?'라고 생각했다.")

#다른 쿼테이션을 사용하는 경우 혼용 가능

"안녕"이라고 말했다.
'바본가?'라고 생각했다.

In [ ]:
print("\"안녕\"이라고 말했다.")

#역슬래쉬 사용하는 경우 같은 쿼테이션 사용 가능

"안녕"이라고 말했다.

In [59]:
sentence= """
안녕
반가워
추워
"""

In [60]:
print(sentence)

안녕
반가워
추워

In [57]:
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.")

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

In [79]:
print("Hello", "Phyton")
print("Hello", end=" ")
print("Hello")
print("Hello", end="")
print("Hello")
print()
print("Hello" * 5)
print()
print("Hello", "Hello", "Hello", "Hello", "Hello", end=",", sep="/")

Hello Phyton
Hello Hello
HelloHello

HelloHelloHelloHelloHello

Hello/Hello/Hello/Hello/Hello,

In [ ]:
print()

# 기본적으로 줄바꿈(\n)이 포함되어 있음
# 콤마(,)는 스페이스가 포함되어 있음
# , end="" 줄바꿈을 하지 않음

In [ ]:
num1 = int(input("첫 번째 숫자를 입력하세요"))
num2 = int(input("두 번째 숫자를 입력하세요."))

print(num1 + num2) 
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

In [ ]:
# 7+3=10 형태 출력 방법: f-string
# f"" 형태, 변수는 {}로 입력. 외의 모든 값은 문자열(str)로 인식

num1 = 7
num2 = 3

print(num1, "+", num2, "=", num1+num2)
print(f"더하기의 결과는: {num1} + {num2} = {num1+num2}")

7 + 3 = 10
더하기의 결과는: 7 + 3 = 10

### bool 자료형

In [ ]:
True 참, False 거짓

In [89]:
1 == 1

True

In [86]:
print(type(True))

<class 'bool'>

In [ ]:
int(), str(), float(), bool() 

# bool 또한 형변환 함수

In [98]:
bool(0)

# only 0만 False

False

In [92]:
bool(1)

True

In [93]:
bool(100)

True

In [94]:
bool(-1)

True

In [ ]:
bool('')

# 비어있는 문자열 -> False

False

#### 오전 마무리 미션

In [128]:
p1 = 3000
p2 = 3500
p3 = 2500

n1 = int(input("김밥 주문 갯수 입력"))
n2 = int(input("떡볶이 주문 갯수 입력"))
n3 = int(input("라면 주문 갯수 입력"))


print("김밥 주문 갯수 :", n1)
print("떡볶이 주문 갯수 :", n2)
print("라면 주문 갯수 :", n3)

print("지불하실 금액은", p1*n1 + p2*n2 + p3*n3, "원 입니다.")
print(f"지불하실 금액은 {p1*n1 + p2*n2 + p3*n3} 원 입니다.")

김밥 주문 갯수 : 2
떡볶이 주문 갯수 : 1
라면 주문 갯수 : 2
지불하실 금액은 14500 원 입니다.
지불하실 금액은 14500 원 입니다.