In [ ]:
# for, while에서 탈출 -> break
# 중첩 반복문에서 탈출 -> for 문이 2번 중첩되었을 경우, break도 2번 사용

number = 0
break_all = False # 상태 플래그

for i in range(5):
    for j in range(5):
       print(f"(i = {i}, j = {j})")
       if i == 2 and i == 3:
           number = i * j
           break_all = True
           break
    if break_all:
        break

print(number) 

number = 0
done = False
for i in range(5):
    for j in range(5):
        print(f"(i = {i}, j = {j})")
        if i == 2 and j == 3:
            number += 1
            done = True
            break
    if done:
        break
 
print(number // 6)

In [1]:
# for, while에서 탈출 -> break
# 중첩 반복문에서 탈출 -> for 문이 2번 중첩되었을 경우, break도 2번 사용

number = 0
break_all = False # 상태 플래그


number = 0
done = False
for i in range(5):
    for j in range(5):
        print(f"(i = {i}, j = {j})")
        if i == 2 and j == 3:
            number += 1
            done = True
            break
    if done:
        break
 
print(number // 6)

(i = 0, j = 0)
(i = 0, j = 1)
(i = 0, j = 2)
(i = 0, j = 3)
(i = 0, j = 4)
(i = 1, j = 0)
(i = 1, j = 1)
(i = 1, j = 2)
(i = 1, j = 3)
(i = 1, j = 4)
(i = 2, j = 0)
(i = 2, j = 1)
(i = 2, j = 2)
(i = 2, j = 3)
0

In [7]:
# 사용자로부터 n개의 별의 갯수를 입력받은 뒤,
# 별을 출력하되 갯수만큼만 출력하다가 별이 다 소진되면 멈추는 코드 작성
# 트리의 최대 높이는 10층

n = 10
s = int(input("별의 갯수를 입력해 주세요: "))

empty = " "
star = "*" 


for i in range(1, n+1):
    for s in range(n-i):
        print(empty, end="")
    for s in range(2 * i - 1): # for 문을 더하면 i
        print(star, end="")
    if int(star * s) >= s:
        break
    print()

         *

ValueError: invalid literal for int() with base 10: ''

In [24]:
star_num = int(input("별의 갯수를 입력해 주세요:"))

star = 0 
break_all = False

for i in range(1, 10 + 1): # 최대 10층
    for j in range(i):
        star = star + 1
        if star > star_num:
            break_all = True
            break
        print("*", end="")
    if break_all:
        break
    print()

*
**
***
****
*****
******
*******
**

In [23]:
n = 30
star = 0
break_all = False

for i in range(1, 10 + 1):
    for j in range(i):
        star += 1
        if star >  n:
            break_all = True
            break
        print('*', end="")
    if break_all:
        break
    print()

*
**
***
****
*****
******
*******
**

# 2026-09-22

In [ ]:
# 문자 H만 꺼내고 싶은 경우 인덱스[] 사용
# 인덱싱 0~n / 음수 인덱싱 -1~-(n-1)

my_str = "Hello, Phyton"

my_str[7]
my_str[-1]

In [ ]:
# 인덱스 n개 불러오기

my_str[7, 8, 9, 10] # 인덱스 콤마로 n개 연결 불가능
my_str[7], my_str[8] + ... or my_str[7:9] # 슬라이스 cf. start(이상):end(미만)
my_str[7:] # 7부터 끝까지 출력
my_str[:] # 처음부터 끝까지 전체 출력

In [ ]:
# 인덱스 n개 불러오기 + step

my_str [: : 2] # start(이상):end(미만):step
my_str [: : -2]

'nth olH'

In [43]:
type(my_str) # 타입 확인
len(my_str) # 길이 확인

13

In [45]:
my_str[12]

'n'

In [ ]:
for i in my_str: # 문자열 안의 데이터 꺼내기
    print(i)

In [ ]:
for i in range(len(my_str)): 
    print(my_str[i])

In [ ]:
# 문자열 데이터의 여러가지 기능들

my_str.lower() # 전체 문자열을 소문자로 변환
my_str.upper() # 전체 문자열을 대문자로 변환
my_str.split() # split() 괄호 안의 기준에 맞춰 문자열을 분리

In [ ]:
words = my_str.split(",") # split 메소드
print(words)

['Hello', ' Phyton']

### 컬렉션 자료형

#### 리스트

In [12]:
# 리스트: 복수의 다양한 형태의 데이터를 순서대로 저장하고 조작하는 기본 자료형
# 각 데이터는 콤마로 구분

numbers = []
numbers = [1, 2, 3]
fruits = ["apple", "banana", "mango"]
mixed = [1, "apple", True, [10, 20, 30]]

In [13]:
type(numbers)

list

In [14]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = [6, 7, 8, 9, 10]
fruits = ["apple", "banana", "mango"]

In [15]:
numbers1 + numbers2 # 리스트 연결

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
numbers1 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [17]:
fruits[:2]

['apple', 'banana']

In [18]:
# 기존 값 수정

fruits[0] = "grape"

In [19]:
fruits[0]

'grape'

In [20]:
fruits

['grape', 'banana', 'mango']

In [21]:
# 없는 인덱스 번호로 추가 불가능

# fruits [3] 불가능
fruits.append("cherry") # append: 맨 끝에 인덱스 추가 가능

In [22]:
fruits

['grape', 'banana', 'mango', 'cherry']

In [23]:
fruits.insert(2, "kiwi") # insert(인덱스, 내용): 원하는 위치에 인덱스 추가 가능

In [24]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry']

In [25]:
fruits.extend(["orange", "date"]) # 리스트 추가

In [26]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry', 'orange', 'date']

In [27]:
fruits.pop() # pop: 맨 뒤의 인덱스 삭제 가능

'date'

In [28]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry', 'orange']

In [29]:
fruits.pop(1) # 인덱스 지정 가능

'banana'

In [30]:
fruits

['grape', 'kiwi', 'mango', 'cherry', 'orange']

In [31]:
fruits.remove("cherry") # remove: 특정 인덱스 작성 시 삭제 가능

In [85]:
fruits

NameError: name 'fruits' is not defined

In [33]:
fruits.index("orange") # index: 특정 인덱스 번호 확인 가능

3

In [34]:
fruits.

SyntaxError: invalid syntax (923193806.py, line 1)

In [ ]:
fruits.count("cherry") # count: 특정 인덱스의 수 확인 가능

In [ ]:
# 만약 동일한 내용의 인덱스가 여러 개라면,
# remove: 맨 앞에 위치한 인덱스 삭제
# 특정 인덱스를 삭제하고 싶다면 위치 확인한 뒤 삭제 (index -> )

# 함수는 앞에 함수(내용)
# 메소드는 뒤에 .메소드
# 메소드는 원본과 사본을 건드는 것으로 나뉨

In [ ]:
fruits.append("apple")

In [84]:
fruits

NameError: name 'fruits' is not defined

In [83]:
fruits.sort() # 알파벳, 숫자 등의 오름차순 순으로 정렬

NameError: name 'fruits' is not defined

In [ ]:
fruits

['apple', 'grape', 'kiwi', 'mango', 'orange']

In [ ]:
numbers3 = [1, 2, 5, 4, 3]

In [ ]:
numbers.sort()

In [ ]:
numbers3

[1, 2, 5, 4, 3]

In [ ]:
numbers3.sort(reverse = True) # 내림차순 정리

In [ ]:
numbers3

[5, 4, 3, 2, 1]

In [ ]:
fruits

['apple', 'grape', 'kiwi', 'mango', 'orange']

In [ ]:
fruits.reverse() # 인덱스 번호만 반대로 변경 가능

In [ ]:
fruits

['orange', 'mango', 'kiwi', 'grape', 'apple']

In [ ]:
for i in fruits:
    print(i)

orange
mango
kiwi
grape
apple

In [ ]:
for i in range(len(fruits)):
    print(f"{i}번째 과일{fruits[i]}")

0번째 과일orange
1번째 과일mango
2번째 과일kiwi
3번째 과일grape
4번째 과일apple

In [ ]:
numbers = [10, 20, 30, 40, 50]

In [ ]:
len(numbers)

5

In [ ]:
max(numbers) # 내장함수 max: 최댓값
min(numbers) # 내장함수 min: 최솟값
sum(numbers) # 내장함수 sum: 모두 더하기

50

In [ ]:
# 평균값
# 총 합계를 인덱스의 개수로 나누기

sum(numbers) / len(numbers)

30.0

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 반복문을 이용하여 리스트를 간단하게 생성
# 리스트 컴프리헨션

numbers = [i for i in range(1, 11)]

# 풀어서 확인
# for i in range(1, 11):
#     print(i)

num_list=[]
for i in range(1, 11):
    num_list.append(i)
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = [i**2 for i in range(1, 11)] # 앞의 i에 어떻게 출력할지 조건 할당 가능

In [ ]:
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
num_list=[]
for i in range(1, 11):
    if i % 2 == 0:
        num_list.append(i)
num_list

[2, 4, 6, 8, 10]

In [ ]:
numbers = [i**2 for i in range(1, 11) if i % 2 == 0]

In [ ]:
numbers

[4, 16, 36, 64, 100]

In [ ]:
marks = [90, 25, 67, 45, 80]

number = 0

for i in marks:
    number += 1
    if i >= 60:
        print(f"{number}번 학생은 합격입니다.")
    else:
        print(f"{number}번 학생은 불합격입니다.")

for i in range(len(marks)):
    if marks[i] >= 60:
        print(f"{i + 1}번 학생은 합격입니다.")
    else:
        print(f"{i + 1}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.
1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
# 끝말잇기 게임
# 시작: 가나다

print("끝말잇기 게임")
print("시작")
var = "가나다"

print(var)

while True: #무한 루프
    ans_word = input("끝말잇기 단어를 입력하세요: ")
    print(ans_word)
    if ans_word[0] == var[-1]:
        var = ans_word
    else:
        print("땡!")
        break

끝말잇기 게임
시작
가나다
다람쥐
쥐포
귀찮아
땡!

In [ ]:
# 도전 미션

numbers = [1, 1, 3, 3, 0, 1, 1]
answer = []
comp = numbers[0]
answer.append(comp)

for i in numbers:
    if comp != i: # 이전 숫자와 같은지 비교
        comp = i # 다르다면 비교할 숫자 갱신
        answer.append(comp) # 새로운 숫자이므로 리스트에 삽입

answer

[1, 3, 0, 1]

In [ ]:
# 12번 

# 과일가게를 운영해 주세요 

# f = ['사과', '바나나', '오렌지', '포도', '수박'] 
# c = [3, 3, 3, 3, 3] 


# =============================================================== 

# 12 - 2번 

 

# 지민이는 햄버거 가게에서 아르바이트를 합니다.  
# 아래서부터, 빵 – 야채 – 고기 - 빵으로 쌓인 햄버거만 포장할수 있으면 재료는 순서대로 하나씩 들어와 쌓입니다.  
# 재료의 순서가 [야채, 빵, 빵, 야채, 고기, 빵, 야채, 고기, 빵]일 때, 지민이는 여섯 번째 재료가 쌓였을 때, 세 번째 재료부터 여섯 번째 재료를 이용하여 햄버거를 포장하고, 아홉 번째 재료가 쌓였을 때, 두 번째 재료와 일곱 번째 재료부터 아홉 번째 재료를 이용하여 햄버거를 포장합니다. 즉, 2개의 햄버거를 포장하게 됩니다. 
# ingredient의 원소는 1, 2, 3 중 하나의 값이며, 순서대로 빵, 야채, 고기를 의미합니다. 

 

# 입출력 예 

# ingredient                      result 

# [2, 1, 1, 2, 3, 1, 2, 3, 1]     2 

# [1, 3, 2, 1, 2, 1, 3, 1, 2]     0 

# 코드를 작성해주세요

#### 딕셔너리

In [ ]:
student = {"name" : "Jimin", "age" : 29, "Hobby" : "Game"}

dict = {}
dict = dict()

In [36]:
type(student)

dict

In [48]:
person = dict(name = "chrs", age = 31)

In [49]:
person

{'name': 'chrs', 'age': 31}

In [16]:
student = {"name" : "jimin", "age" : 29, "hobby" : "game", "name" : "지민"} # 중복될 경우 덮어쓰기

In [17]:
student

{'name': '지민', 'age': 29, 'hobby': 'game'}

In [50]:
student["age"]

29

In [ ]:
student.keys() # dic.keys(): key 값만 출력

dict_keys(['name', 'age', 'hobby'])

In [18]:
student.values() # dic.values(): values 값만 출력

dict_values(['지민', 29, 'game'])

In [19]:
student.items() # dic.items(): key와 value를 튜플의 형태로 묶어 리스트로 출력

dict_items([('name', '지민'), ('age', 29), ('hobby', 'game')])

In [86]:
for i in student.items():
    print(i)

for i in student.items():
    print(i[0], i[1])

for i, j in student.items():
    print(i, j)

('name', '망개')
('hobby', 'game')
name 망개
hobby game
name 망개
hobby game

In [20]:
student["name"] = "망개"

In [21]:
student

{'name': '망개', 'age': 29, 'hobby': 'game'}

In [60]:
student["addr"] = "서울시 용산구" # 없는 키와 값을 추가하여 할당할 수 있음

In [61]:
student

{'name': '망개', 'age': 29, 'hobby': 'game', 'addr': '서울시 용산구'}

In [ ]:
student.get("addr2") # 존재하지 않는 키의 값을 조회할 수 있음
print(student.get("addr2"))

None

In [ ]:
student.pop() # dic는 순서가 없기 때문에 오류!

TypeError: pop expected at least 1 argument, got 0

In [ ]:
student.pop("age") # 특정 요소 삭제 가능

29

In [74]:
student.popitem() # 마지막 아이템 삭제

('addr', '서울시 용산구')

In [75]:
student

{'name': '망개', 'hobby': 'game'}

In [ ]:
"name" in student.keys() # key 값 존재 확인 가능

True

In [ ]:
29 in student.values() # values 값 존재 확인 가능

False

In [83]:
"apple" not in fruits

True

In [3]:
# 모스부호  
# 문자열 letter가 주어질 때, letter를 영어 소문자로 바꾼 문자열을 출력 하도록 코드작성 

# 모스부호는 다음과 같습니다. 
# morse = { 
#     '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
#     '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
#     '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
#     '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
#     '-.--':'y','--..':'z' 
# } 

# 입출력 예 
# letter  result 
# ".... . .-.. .-.. ---"  "hello" 
# ".--. -.-- - .... --- -."   "python" 

morse = { 
    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
    '-.--':'y','--..':'z'} 

result = input("모스 부호를 입력해 주세요: ").split()

for i in result:
    print(morse[i], end="")

hello

In [ ]:
morse = { 
    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
    '-.--':'y','--..':'z'} 

hello = ".... . .-.. .-.. ---"
a = hello.split()

answer = "" # 값을 출력할 answer 생성
for i in a:
    answer = answer + morse[i]

print(answer)

hello

#### set 자료형 (집합)

In [22]:
# 중복을 허용하지 않고, 순서가 없는 데이터

s = {1, 2, 3, 4, 2, 3}

In [24]:
type(s)

set

In [ ]:
s # 알아서 중복을 제거함

{1, 2, 3, 4}

In [26]:
s[0]

TypeError: 'set' object is not subscriptable

In [ ]:
s.add(5) # 요소 추가

In [28]:
s

{1, 2, 3, 4, 5}

In [ ]:
s.pop() # 어떤 것이 꺼내진다고 보장할 수 없음. 임의의 요소가 삭제

1

In [30]:
s

{2, 3, 4, 5}

In [ ]:
s.remove(3) # 원하는 요소 삭제 가능

In [32]:
s

{2, 4, 5}

In [33]:
my_list2 = [ 1, 2, 3, 4, 5, 1, 2, 3]

In [34]:
my_list2

[1, 2, 3, 4, 5, 1, 2, 3]

In [35]:
set(my_list2)

{1, 2, 3, 4, 5}

In [ ]:
list(set(my_list2)) # 중복 제거 완료

[1, 2, 3, 4, 5]

In [38]:
a = {1, 2, 3, 4,}
b = {3, 4, 5, 6}

In [ ]:
a

In [ ]:
a.union(b) # set.union(): 합집합

{1, 2, 3, 4, 5, 6}

In [ ]:
a & b # 교집합

{3, 4}

In [41]:
a.intersection(b) # 교집합

{3, 4}

In [42]:
a - b # 차집합

{1, 2}

In [43]:
a.difference(b) # 차집합

{1, 2}

#### 튜플

In [ ]:
# immuterble, 수정 불가능

In [44]:
t1 = ()

In [45]:
t2 = (1, 2, 3)

In [46]:
type(t2)

tuple

In [48]:
t2[0]

1

In [67]:
t3 = ("a", 4, ("ab", "g"))

In [68]:
t3

('a', 4, ('ab', 'g'))

In [ ]:
t2[0] = 10 # 튜플 변경 불가능

TypeError: 'tuple' object does not support item assignment

In [64]:
t4 = 1, 2, 3, 4

In [ ]:
type(t4) # 괄호가 생략되어도 튜플 형태

tuple

In [116]:
# 빼빼로데이

# 빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
# 이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.
# 구매한 빼빼로를 오름차순으로 정렬하여 결과를 나타내 주세요.

# 입력1
# ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

# 출력1
# ['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

pepero = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]
answer = []

answer = list(set(pepero)) 
answer.sort()

answer

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [112]:
# 영단어갯수세기

# 내가 외운 단어의 개수는 몇개일까요?

# 입력1
# "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

# 출력1
# 7

word = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"
word.split()
len(set(word.split()))

7

In [ ]:
# 도전과제 14

students = [Alice, Bob, Charlie]
Alice = [90, 85, 92]
Bob = [ 78, 80, 88]
Charlie = [95, 92, 89]

Alice_ave = sum(Alice) / 3
Bob_ave = sum(Bob) / 3
Charlie_ave = sum(Charlie) / 3

total = (Alice_ave + Bob_ave + Charlie_ave) / 3

NameError: name 'Alice' is not defined

### 함수

In [122]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [123]:
def my_func():
    print("내가 만든 함수")

In [ ]:
my_func()
my_func()
my_func()

내가 만든 함수
내가 만든 함수
내가 만든 함수

In [127]:
def my_func(a):
    print(f"{a}, 내가 만든 함수입니다.")

In [ ]:
my_func() # 입력 값(매개변수)이 필요함

TypeError: my_func() missing 1 required positional argument: 'a'

In [129]:
my_func("Hey")
my_func("Hello")
my_func("Hi")

Hey, 내가 만든 함수입니다.
Hello, 내가 만든 함수입니다.
Hi, 내가 만든 함수입니다.

In [130]:
def my_sum(a, b):
    result = a + b
    return result # result 값 반환

In [131]:
my_sum()

TypeError: my_sum() missing 2 required positional arguments: 'a' and 'b'

In [134]:
num1 = my_sum(3, 4)
num2 = my_sum(7, 4)

print(num1, num2)

7 11

In [142]:
# 세 개의 숫자를 입력받아 가장 큰 수를 출력하는 num_max 함수를 정의

def num_max(a, b, c):
    max_val = a
    if b > max_val:
        max_val = b
    if c > max_val:
        max_val = c

    return max_val

# 정의 부분

num = num_max(-3, -5, -1)
num

# 사용하는 부분

-1

In [ ]:
# 숫자들의 배열을 입력하면 가장 작은 값을 구하는 함수, 리스트 사용

def num_min(arr):
    answer = arr[0]
    for i in arr:
        if answer > i:
            answer = i
    return answer

# 정의 부분

num = num_min([52, 273, 32, 103, 275, 24, 57])
num

# 사용하는 부분

24

In [2]:
def morse_to_string(hello):
    morse = { 
    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
    '-.--':'y','--..':'z'} 

    hello = ".... . .-.. .-.. ---"

    a = hello.split()

    answer = "" # 값을 출력할 answer 생성
    for i in a:
        answer = answer + morse[i]

    return answer

In [4]:
hello = ".... . .-.. .-.. ---"

morse_to_string(hello)

'hello'

In [10]:
def add_many(*args):
    print(args)
    sum = 0
    for i in args:
        sum += i
    return sum

In [11]:
add_many(1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)

28

In [28]:
def add_mul(choice, *args):
    print(choice, args)
    if choice == "add":
        result = 0
        for i in args:
            result += i
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
    else:
        print("연산자를 다시 한 번 확인해 주세요.")
        result = None
    return result

In [26]:
add_mul("add", 1, 2, 3)

add (1, 2, 3)

6

In [17]:
add_mul("mul", 1, 2, 3)

mul (1, 2, 3)

6

In [ ]:
def add_and_mul(a, b):
    return a+b, a*b # 1개의 값 리턴, 튜플로 감싸져 있는 형태

In [ ]:
result = add_and_mul(3, 4) 
print(result[0], result[1])
result1, result2 = add_and_mul(3, 4)

7 12

In [36]:
result1

7

In [ ]:
def  say_my_self(name, age, man=True): # 기본값을 지정해두면 입력하지 않아도 에러X
    print(f"{name}, {age}")
    if man:
        print("남자")
    else:
        print("여자")

In [41]:
say_my_self("박지민", 29)

박지민, 29
남자

In [42]:
say_my_self("Chris", 31, man=False)

Chris, 31
여자

In [47]:
say_my_self("Chris", man=False, age = 24)

Chris, 24
여자